@import "tailwindcss";

@theme {
  --color-border: #e2e8f0;
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-primary: #0f766e;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
